<div class="container">
        <a routerLink="/list">Back to List</a>
</div>

<div class="container">
        <form #carPlateForm="ngForm" (ngSubmit)="updateCarPlate()">
                <div class="form-group">
                        <label for="inputID">ID</label>
                        <input type="text" class="form-control" id="inputID"  [(ngModel)]="carplate.id" name="carID"disabled>
                </div>
                <div class="form-group">
                        <label for="inputCarPlate">Car Plate</label>
                        <input type="text" class="form-control" id="inputCarPlate" [(ngModel)]="carplate.nr" name="carNumber">
                </div>
                <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" [(ngModel)]="carplate.name" name="firstName">
                </div>
                <div class="form-group">
                        <label for="inputSurname">Surname</label>
                        <input type="text" class="form-control" id="inputSurname" [(ngModel)]="carplate.surname" name="lastName">
                </div>
                <input type="submit" value="Save" class="buttonSave">
        </form>
</div>